/* stylelint-disable scss/dollar-variable-colon-newline-after */
/* stylelint-disable scss/dollar-variable-colon-space-before */
/* stylelint-disable scss/dollar-variable-empty-line-after */
/* stylelint-disable scss/dollar-variable-empty-line-before */
/* stylelint-disable scss/dollar-variable-first-in-block */

$primary   : #1976d2 !default;
$secondary : #26a69a !default;
$accent    : #9c27b0 !default;
$dark      : #1d1d1d !default;
$positive  : #21ba45 !default;
$negative  : #c10015 !default;
$info      : #31ccec !default;
$warning   : #f2c037 !default;
